*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-position: center;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(rgb(122, 55, 0.8),rgb(122, 55, 0.9)), url(image/Backg.jpg) 
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.87);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
}

::placeholder{
    color: black;
}

.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: white;
    cursor: pointer;
}